input {
    width: 50%;
    height: 100%;
    border 2px solid blue;
    padding: 5px 10px;
    border-radius: 

}
    
    
button:hover {
  background-color: green;
}

input:focus {
    outline: 1px solid blue;
  border: 1px solid blue;
}


select {
    width: 50%;
    height: 30px;
    border: 1px solid blue;
    border-radius: 1rem;
    padding: 5px 10px;
  }

    .button {
      text-align: center;
      font-size: larger;
       background-color: green;
      color: white;
      width: 30%;
      border: 1px solid #73AD21;
      padding: 5px 10px;
    }
      
  
