*{
    /* margin 0;  */
    /* padding: 0;  */
    box-sizing: border-box;
    
}

ul {
    background-color: burlywood;
    list-style-type: none;
    padding: 2rem;
  
    /* list-style-type: circle;
    list-style-type: square; */
  }
  
  .book {
    /* float: right; */
    /* float: left; */
    display: inline; 
  }


  
  li a {
    text-decoration: none;
    padding: 1rem;
    color: #000;
  }
  
  ol {
    list-style-type: none;
    /* list-style-type: lower-alpha;
    list-style-type: lower-greek; */
  }